
.section{
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid rgb(156, 155, 155);
  border-radius: 5px;
}

.signupbox {
  margin-top: 10px;
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='date'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type='submit'] {
  width: 100%;
  padding: 10px;
  background-color: #209cbb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
  font-size: larger;
}

button[type='submit']:hover {
  background-color : #3e8e41;
}

p {
  text-align: center;
  margin-top: 20px;
}

.navbar {
display: flex;
justify-content: space-around;
align-items: center;
padding: 20px;
background-color: #f5f5f5;
font-weight: bolder;
font-size: x-large;
}

.navbar-link {
color: #333;
text-decoration: none;
font-size: 18px;
margin-right: 20px;
}

h3{font-weight: bolder;}