.sectionsignup {
display: flex;
justify-content: flex-end;
flex-direction: column;
  width: 40%;
 
  padding: 70px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 60px;
}

.imagelogin{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  border: 1px solid blue;

}

.sectionlogin {
/* display: flex;
justify-content: flex-end;
flex-direction: column;
  width: 50%;
  margin-top: 20px;
  margin-left: 150px;
  padding: 70px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px; */
display: flex;
justify-content: flex-end;
flex-direction: column;
  width: 40%;
  margin: none;
  padding: 70px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 60px;

  
}

.signupbox {
  
  /* margin-top: 10px;
  padding: 20px; */
   /* display: flex; */
  /* flex-direction: column; */
 width: 100%;
  padding: 10px;
 

}

.loginbox {
  
  display: flex;
  flex-direction: row;
 width: 100%;
  padding: 10px;
  
}

label {
     font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  margin-bottom: 10px;
  font-weight: 400;
}

/* input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='date'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
} */

.loginbtn {
  background-color: #3f51b5;
  color: white;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
  border: none;
}

.loginbtn:hover , .signupbtn:hover{
  background-color: #384cc0;
 
}
.signupbtn {

background-color: #3f51b5;
  color: white;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
border: none;
}

p {
  text-align: center;
  margin-top: 20px;
}

.logsign {
  display: flex;
     flex-direction: row;
  justify-content:space-around;
  /* align-items: center; */
  /* padding: 5px; */
  font-weight: bold;
  font-size: large;
  margin-top: 50px;
  text-decoration: none;
   /* border: 1px solid rgb(209, 209, 209);
  border-radius: 1px;
   */
margin-right: 300px;
}


.logsign .MuiTab-root {
   width: auto;
   height: 50px;
   text-align: center;
     border: 1px solid rgb(209, 209, 209);
  border-radius: 1px;
 
  display: flex;
 

}

.navbar-link {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
}
h2{
  font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
margin-left: 8px;
}
h3 {
  font-weight: bolder;
}

.signupnavigate{
  font-weight:500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
margin-top: 35px;
margin-bottom: none;
margin-left: 10px;

}

.radiobtn{
  font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    width: 20px;
    height: 16px;
   
    
}
.radiobtntext{
  font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    width: 20px;
    height: 16px;
    
}

.nav{
   border: 1px solid rgb(209, 209, 209);
   border-radius: 1px;
  display: flex;
justify-content: flex-end;
flex-direction: column;
width: 200px;

}

.dashboardimg{

margin-left: 350px;

}


.flexContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* background-color: #967070;  */
  
  padding: 1rem;
  font-size: 20px;
  text-align: center;
  justify-content:space-around;
  /* border: 1px solid blue; */


}
.apimg{
  width :40%;
  margin-top: 20px;
}
.apibox{
    border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 4px;
            /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1); */
            /* justify-content: space-around; */
            margin-bottom: 60px;
            margin-left: none;
            margin-top: none;
            width: 15em;
            height: 11em;
           
          }
.special{
  color: #3f51b5;
    font-size: 42px;
    margin-top: 16px;
    font-weight: bold;
    text-align: start;
        display: block;
        margin-left: 40px;
}

.special_{
  color: black;
    margin-right: 1.3rem;
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    display: flex;
    float: right;
}
.special_:hover{
  color: #3f51b5;
}


/* doc */

.apiboxdoctor{
    border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 4px;
            /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1); */
            /* justify-content: space-around; */
            margin-bottom: 60px;
            margin-left: 0;
            margin-top: none;
            width: 22.5em;
            height: 150%;
            
}

.dbtn{
    width: 39%;
 background-color: rgb(255, 255, 255);
   
 
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
   
    
    line-height: 1.75;
    
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    color: #3f51b5;
    border: 1px solid rgba(63, 81, 181, 0.5);
     
 border-radius: 34px;
    /* text-align: center; */
    cursor:pointer;
}

.dbtn:hover{
color:#344edf;
border: 1px solid #344edf;
}

.icondoctor{
display: flex;
width: 123px;
}

.docname{
font-size: 16px;
    font-weight: bold;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    display: flex;
    flex-direction: column;
  
    /* margin-top: none; */
}

.doctext{
  font-size: 1.2rem;
  color: black;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
        display: flex;
    flex-direction: column;
 margin-left: 200px;
}

.docdetails{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
        color: rgba(0, 0, 0, 0.54);
        font-size: 13px;
    display: flex;
    flex-direction: row;
    margin-left: 200px;
      }



 .flex1{
  display: flex;
  flex-flow: row nowrap;
  gap: none;
  margin-bottom: 20px;
 }
 /* .flex2{
    gap: 0.5rem;
    bottom: 0;
    display: flex;
    padding: 0.8rem;
    position: absolute;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-left: 90px;
 } */

/* @media screen and (min-width: 30%) {
  .swipertext {min-width: 500px; float: left;}

} */

 .swipe{
  margin-left: 10px;
  background-color: #dbdbdb;
  margin-bottom: 30px;
width: 100%;

 
 }
 .swipertext{
  background-color: #e9e2e2;
  border: 1px solid #696969;
  border-radius: 20px;
  text-align: center;
margin-top: 20px;
margin-bottom: 20px;
min-width: 10%;
max-width: 20%;

 }
 .swipertext:hover{
  color: aliceblue;
  background-color: #a79f9f;
  cursor: pointer;
 }

 /* dashboard style */
 .dashboard_btn{
    background-color: #3f51b5;
  color: white;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  cursor: pointer;
 
  border: none;
justify-content: end;
}

.placeholderflex{
  display: flex;
}

.placeHolder{
  font-size: large;
  width: 120%;
  /* border: 1px solid red; */
  cursor: text;
  height: 100%;
}

.placeholderimg{
  width: 18px;
  height: 16px;
cursor: pointer;
}

.appbar{
  display: flex;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.appbarplaceholder{
margin-left: 250px;
margin-top:  15px;
}
.appbarloginbtn{
margin-left: 550px;
margin-top: 10px;
margin-bottom: 5px;
}
